<!DOCTYPE html>
<html>

<head>
    <title>Paul's Digital Resume</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Paul's Ever-Growing Digital Resume">
    <meta name="keywords" content="HTML, CSS, JavaScript, Software Developer, Web Developer">
    <meta name="author" content="PJS Development">
    <meta name="thumbnail" content="https://pbs.twimg.com/media/Db-v0NnWkAAH_T_.jpg">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
</head>

<body>